// @import 'src/assets/styles/reset.scss';

.checkboxContainer {
  display: inline-block;
  vertical-align: middle;
}

.checkboxInput {
  display: none;
}

.checkboxIcon {
  color: grey;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: middle;
}

.checked {
  color: orange;
}
