// @import 'src/assets/styles/reset.scss';

// button {
//   background-color: transparent;
//   border: none;
// }

.orange {
  color: orange;
  cursor: pointer;
}

.grey {
  color: grey;
  cursor: pointer;
}
